  /* todas as animação */
 div.inicial{
     background-color: none;
     margin-top: -90px;
     position: absolute;
     top: 65%;
     left: 10%;

 }
 div.inicial h1{
    -webkit-text-stroke: .5vh #0000;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-image: url("../imagens/smartp.jfif");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: text 10s ease alternate infinite;
}
@keyframes text {
    form{
        background-position: 0%, 50%;
    }
    to{
        background-position: 100%, 50%;
    }
}


 div.continuar{
    display: inline-flex;
    position: absolute;
    top: 680px;
    left: 40px;

}
div.continuar .estatico{
    color: blue;
    font-size: 5vh;
    font-family: verdana;
    font-weight: 400px;
    margin-top: -10px;
    margin-left: -23px;
}
div .continuar#denamico{
    margin-left: 10px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
 ul#denamico li {
    color: rgb(24, 243, 24);
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 500;
    left: 0;
    position: relative;
    top: 0;
    animation: solide 6s steps(5) infinite;
}
@keyframes slide{
    100%{
        top: -30px;
    }
}
#denamico li span{
    position: relative;
}
#denamico li span::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    left: -0;
    border-left: 3px solid #fff;
    animation:typing 1.8s steps(8) infinite;
    background-color: #fff;
    color: rgb(29, 245, 29);
}
#denamico li span{
    position: relative;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}


/* configuração de email */
 div.entrardos{
     display: table-cell;
     float: right;
     margin-top: -10%;
 }
 div.todosnome{
     display: table-cell;
     width: 300px;
     height: 90px;
     margin-left: 20px;
     border-radius: 5%;
     box-shadow: 1px 1px 4px black;
 }
 div.todosnome h1{
     color: green;
     text-align: center;
     font-family: Arial, sans-serif;
     font-size: 20px;
     font-weight: 900;
 }
 div.entranome{
     border: none;
     outline: none;
     padding: 10px;
     margin: 10px;

 }
 div.entranome input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid green;
    background-color: transparent;
    outline: none;
        font-size: 16px;
        transition: all .3s ease-out;
        border-radius: 0;
 }
 div.botãoentrar{
     background-color: transparent;
     padding: 10px;
     margin: 10px;
     cursor: pointer;
     transition: all .3s ease-out;
 }
 div.botãoentrar button:hover{
     background-color: rgb(13, 240, 13);
     color: white;
     border-radius: 8px;
 }
 div.Naotenho,#conta{
     font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: 900;
    text-align: center;
 }
 div.Naotenho,#cadastra{
    
    list-style: none;
    text-align: center;
}
div.entrardos p{
    font-family: Arial, Helvetica, sans-serif, #000000;
    font-size: min(50px, 2,5vw);
     margin-left: -30px;
}
div.entrardos h3{
    color: rgb(19, 248, 19);
    text-align: left;
}
/* configurações barra de pesquisa */
.search-box{
   position:absolute;
   left: 43%;
   top: 40%;
   transform: translate(-50% -50%);
   background:white;
   height: 40px;
   border-radius: 50px;
   padding: 10px;

}
.search-btn{
   color: #00a8ff;
   float: right;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
}
.search-box .busca{
   border: none;
   background: none;
   outline: none;
   float: left;
   padding: 0px;
   color: black;
   font-size: 16px;
   transition: 0.5s;
   line-height: 40px;
   width: 0px;
}
.search-box:hover >.busca{
   width: 240px;
   padding: 0 6px;
}
.search-box:hover >.search-btn{
   background: white;
}
/* Meus contiudos nossa loja */
div.textosnovi h1{
    color: rgb(10, 238, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 900;
 }
 div.textosnovi h4{
    color: red;
    font-family: Arial, Helvetica, sans-seri;
    font-size: 12px;
    font-weight: 900;
 }
 div.novi h3{
    background-color: #00a8ff;
    width: 280px;
    color: green;
    text-align: center;
    font-family: verdana;
    font-weight: 900;
    display: flex;
 }
 div.tabelas-principal, table{
    width: 70%;
    height: 10px;
    border: 2px solid blue;
 }
 
div.lojastodos{
   background: #00a8ff;
   box-shadow: 1px 1px 4px black;
}
div#produtolojasdois{
  display: flex;
  float: right;
  margin-left: 50%;
}
div.produtolojastres{
   display: flex;
   align-items: center;
 
}
div#produtolojas{
   display: flex;
   margin-left: 20px;
   padding: 20px;
}
div#produtolojas .cartao .image{
   
   border-radius: 50%;
   padding: 3px;
   background:white;
   border: 2px solid green;
}
div#produtolojastres .cartao .image{
   height: 140px;
   width: 140px;
   border-radius: 50%;
   padding: 3px;
   background:white;
   border: 2px solid green;
}
div.produtolojastres .cartao .image{
   height: 140px;
   width: 140px;
   border-radius: 50%;
   padding: 3px;
   background:white;
   border: 2px solid green;
}

div.image img{
   margin-left: 40px;
   margin-top: 20px;
       object-fit: cover;
       border: 1px solid white;
}
.cartao{
   position: relative;
   background-color: white;
   border-radius: 20px;
   margin: 20px 0;
   width: 240px;
   box-shadow: 1px 1px 4px black;

}
.cartao::before{
   content:"";
   position: absolute;
   height: 40%;
   width: 100%;
   background: rgb(9, 245, 9);
   border-radius: 20px 20px 0px 0px;
}
.cartao .cartao-conect{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   position: relative;
   z-index: 100;
}
.cartao .media{
   position: absolute;
   top: 10px;
   right: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.cartao .media img{
   color: white;
   opacity: 0.6;
   margin-top: 10px;
   transition: all 0.3s ease;
   cursor: pointer;
}
.cartao .media img:hover{
   opacity: 1;
}
.cartao .nome-prifeçao{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;
   color: blue;
}
div.nome-prifeçao .nome{
   font-size: 20px;
   font-weight: 600;
}
div.nome-prifeçao .professor{
   font-size: 20px;
   font-weight: 500;
}
div.cartao .marcas{
   display: flex;
   align-items: center;
   margin-top: 18px;
}
div.cartao .marcas img{
   box-shadow: 1px 1px 4px black;
}
div.cartao .button{
   width: 100%;
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
}
div.cartao .button button{
   background: rgb(13, 238, 13);
   outline: none;
   border: none;
   color: white;
   padding: 8px 20px;
   border-radius: 20px;
   font-size: 14px;
   transition: all 0.3s ease;
   cursor: pointer;
}
div.button button:hover{
   background-color: green;
} 

/* configuração das multimédias */
div.audeo{
    align-items: center;
    justify-content: center;
    margin: 10%;
     
}
div.audeo h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 20px;
    color: blue;



}

/* todos os textos com estilos */
 
h2.subtitulo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    font-size: 5rem;
    position: absolute;
    top: 50%;
}
h3.nossa-loja{
    color: #00a8ff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 20px;
padding: 30px;
}
h3.Android{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 20px;
}
div.paragraum{
    width: 350px;
    display: table-cell;
    float: left;
    margin-top: 20px;
    margin: auto;
    padding: 10px;
}
div.paragraum h2{
    color: #00a8ff;
    font-family: Verdana;
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
   
}
div.paragraum p{
    text-align: justify;
    font-family: Verdana;
    text-indent: 30px;
}
div.paragradois{
    display: table-cell;
}
div.paragradois p{
    font-family:'Arial Narrow Bold', sans-serif;
    text-align: justify;
    padding-bottom: 10px;
 
}
div.paragradois h2{
    color: #00a8ff;
    font-family: Verdana;
    font-weight: 900;
    font-size: max(10px, 1.2rem);
    margin: 5px;
    text-align: center;
}
div.tabelaemail{
    display: table-cell;
    float: left;
}
div.textos-principal{
    display: table;
}
div.tudoloja{
    display: table-cell;
    float: left;
}
div.textoloja{
    float: left;
}
div.imagentransferir{
    display: table-cell;
    float: left;
    margin: 10px;
}
div.imagentransferir img{
    border: 1px solid #00a8ff;
    box-shadow: 1px 1px 5px black;
}
/* mudagem de imagens */
div#slaide{
    max-width: 345px;
    margin: auto;
}
div#slaide img{
    max-width: 100%;
    box-shadow: 1px 1px 1px 4px red;
}
div.textos{
   display: table-cell;
   float: left;
   margin-left: 20px;
   margin: 20px;
   padding: 10px;
}
div.textos h3{
    margin: 20px;
    color: #00a8ff;
    font-family: Verdana;
    font-size: 2rem;
    font-weight: 900;
    
}
div.textos p{
    font-size: max( 10px, 1rem);
    font-family: Verdana;
    text-indent: 30px;
    text-align: justify;
    line-height: 20px;
}
div.imagensmat{
   display: table-cell;
   float: left;
   margin: 10px;
}
div.imagensmat img{
    box-shadow: 1px 1px 5px #00a8ff;
}
div.textosum{
   display: table-cell;
   margin-left: 80px;
}
div.textosum h1{
    color: #00a8ff;
    text-align: center;
}
div.textosum p{
    font-family: Verdana;
    text-indent: 50px;
}
div.paragrafowuawei h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00a8ff;
    text-align: center;
}

div.paragrafowuawei{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 20px;
    font-weight: 100;
    text-indent: 20px;
}

/* todas configuração do menu */
nav#menu{
    display: block;
}
nav#menu ul{
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position:relative;
    top: -0px;
    left: -38px;
}
nav#menu li{
    display: inline-block;
    color: white;
    padding: 0px;
   
}
nav#menu a{
    text-decoration: none;

      
}
nav#menu ul li{
    background-color: #cccccc8e;
    color: white;
    float: left;
    width: 115px;
    height: 40px;
    line-height: 40px;
    transition: all 1s;

}
nav#menu ul ul li{
    background-color: rgba(0, 0, 0, 0.527);
    width: 240px;
    padding: 5px;
    font-size: 14px;
    font-family: Verdana,sans-serif;
    transition: all 1s;
} 
 nav#menu ul ul{
    display: none;
    padding: 10px;
}
nav#menu ul li:hover > ul{
    display: block;
}
nav#menu ul ul li:hover{
    background-color: black;
} 

nav#menu ul li:hover{
    background-color: rgb(158, 154, 154);
    color: green;
}

/* configuração do menumarca */
nav.menumarca{
    background-color: aquamarine;
    display: block;
}
nav.menumarca ul{
    list-style: none;
    text-transform: uppercase;
    font-family: Verdana,Tahoma;
    font-weight: 900;

}
nav.menumarca li{
    display: inline-block;
    color: green;
    padding: 5px;
    margin: 5px;
}
nav.menumarca li:hover{
    background-color: rgb(8, 112, 8);
    color: red;
    border-radius: 8px;
}
nav.menumarca ul li{
    float: left;
}
body{
    background-color: rgb(223, 217, 217);
    margin: 0px;
    padding: 0px;
}
header{
    background-color: white;
    text-justify: newspaper;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    box-shadow: 1px 1px 4px black;
}
section{
    background-color: white;
    text-justify: newspaper;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    box-shadow: 1px 1px 4px black;
}
div.imagenfundo{
    background-image: url(..//imagens/Oppo-MagVOOC-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
div#rola{
    align-items: center;
    position:absolute;
    left: 66%;
    top: 100%;
}
div#rola h5{
    background-color:white;
    border-radius: 8px;
    color: blue;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -45px;


}
div#rola > img{
    width: 40px;
    margin-bottom: 20px;
    align-items: center;
    animation:jumprola 0.4s linear infinite;
}
 @keyframes jumprola {
  form{transform: translateY(-15px);}
  50%{ transform: translateY(0);}
  to{transform: translateY(-15px);}
}
div .contiudo{
    height: 20%;
}
footer{
     min-height: 250px;
     background: #00a8ff;
     display: flex;
     margin: 0px 10px 0px 10px;
     box-shadow: 1px 1px 4px black;
} 
footer .boxs{
    width: 350px;
    min-height: 150px;
    padding: 10px;
}
footer .boxs:nth-child(5){
    width: 400px;
}
.boxs h2{
    color: white;
    margin-bottom: 10px;
}
.boxs ul li{
    margin: 10px 0px;
    list-style: none;
}
.boxs ul li a{
    color: rgb(23, 241, 23);
    text-decoration: none;
}
.boxs ul li a:hover{
    color: green;
}
.boxs p{
    width: 250px;
    color: white;
    text-align: justify;
    font-size: max(20px, 0.2rem);
}
@media(max-width:950px)
{
    footer{
        flex-direction: column;
    }
    footer .boxs{
        width: 100%;
        text-align: center;
    }
    footer .boxs:nth-child(5) {
        width: 100%;
    }
}
/* redes sociais no footer */
.footer{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(4, 4, 153);
    padding: 0px 20px;
    margin: 0px 10px 0px 10px;
    box-shadow: 1px 1px 4px black;
}
.footer h2{
    color: white;
}
.footer p{
    color: white;
    height: 20px;
    margin-left: 50px;
    align-items: center ;
    font-size: 1.2rem;
    font-family: Verdana,sans-serif;

}
.footer .sociais{
    display: flex;
}
.sociais .socia{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 10px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s linear;
}
.sociais .socia:hover{
    background-color: #444;
}
.sociais .socia:hover a{
    background-color: white;
}
.sociais .socia a{
    color: green;
    font-size: 1.5rem;
    transition: color .3s linear;
}
 /* configuração de aside */
.usb{
    display: table;
    
}
div.textousb{
    display: table-cell;
    float: left;
    margin-left: 10px;
}
div.textousb h2{
    color: rgb(16, 245, 16);
    font-family: Verdana;
    font-weight: 900;

}
div.textousb p{
    font-family: Verdana, Tahoma, sans-serif;
    text-indent: 20px;
    line-height: 20px;
}
div .fault{
    display: table-cell;
    float: left;
    margin: 20px;
}
aside{
    background-color: white;
    text-justify: newspaper;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    box-shadow: 1px 1px 4px black;
} 
 .painel a{
    color: rgb(9, 36, 192);
    font-size: 12pt;
}

div.fault img{
    width: 200px;
}
 div.flutuar{
     display: table;
     float: left;
 }
 div.todofluxo img{
    width: 250px;
 }
 div.software h1{
     color: red;
     font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
    font-weight: 900;
     font-size: min(20px, 1.5rem);
 }
/* cadastramento*/
 
div.cadastramentos{
    background-image: url(..//imagens/cadastro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
div.cantaner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
div.cards{
    background-color: #00aaff74;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 1px 1px 4px black;
    width: 300px;
}
div.cards h1{
    text-align: center;
    margin-bottom: 20px;
            color: blue;
}
div.usuario input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
        font-size: 16px;
        transition: all .3s ease-out;
        border-radius: 0;
}
div.usuario{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
div.usuario label{
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}
div.usuario, input:focus{
    border-bottom: 2px solid #4038a0;
}
div.usuario, input:focus + label,
div.usuario, input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: blue;
}
div.justificar button{
    background-color: transparent;
    border-color: 1px blue;
    padding: 7px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}
div.justificar button:hover{
    background-color: blue;
    color: white;
}
div.justificar{
    display: flex;
    justify-content: center;
}
div.usuario .fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #272262;
}
/* validação das menssagens */
div.mensageerror{
    text-align: center;
    color: rgb(202, 14, 14);
    background-color: red;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
div.mensagSucess{
    text-align: center;
    color: green;
    background-color: rgb(13, 255, 13);
    padding: 10px;
    border-radius: 4px;
    display:none;
}