@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
div.Arias-classificação{
  background-image: url(../pc_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  margin-top: -150px;
  font-family: 'Roboto', sans-serif;
}
div.todos-classe{
  display: table;
   margin: auto;
}
div.todos-classe h2{
  color: blue;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;

}
div.todos-classe a{
  text-decoration: none;

}
div.todos-classe h5{
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
}


div.windows a h2{
  color: blue;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  transition: transform 0.2s;
}
div.windows a h2:hover{
   transform: scale(1.5);
}
div.Mac-boock a h2{
  color: blue;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  transition: transform 0.2s;

}
div.Mac-boock a h2:hover{
   transform: scale(1.5);
}

div.imagen-suportado{
  display: table-cell;
  float: left;
  margin-left: -50px;
}
div.imagen-suportado img{
  width: 50px;
  padding: 2px;
  box-shadow: 0px 0px 5px #0dcaf0;
}
div.mic-suportado{
  display: table-cell;
  float: left;
  margin-left: -50px;
}
div.mic-suportado img{
  width: 50px;
  padding: 2px;
  box-shadow: 0px 0px 5px #0dcaf0;
}

div.windows{
  display: table-cell;
  float: left;
  margin-top: 150px;
  margin-left: -20px;
 
}
div.Mac-boock{
  display: table-cell;
  float: right;
  margin-top: 150px;
  margin-left: 80px;
}

div.cliente-logado{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 30px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}
div.cliente-logado button{
   background-color: green;
   color: white;
   text-align: center;
   font-size: 12px;
   border: none;
   width: 50px;
   height: 30px;
   box-shadow: 0px 0px 4px black;
   border-radius: 8px;
}
div.cliente-logado h1{ 
  color: red;
  font-size: 20px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}

body#corpos{
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
div.textos h1{
  color: #0dcaf0;
  text-align: center;
}
section#textos-seção{
  background-color: #f8f9fa;
  margin: 0px 2px 0px 2px;
  padding: 5px; 
}
div.textos-lateral{
  width: 450px;
  margin-top: -70px;
  padding: 5px;
  box-shadow: 0px 0px 4px black;
}
div.textos-lateral p{
  font-family:'Roboto Condensed', sans-serif ;
  margin: auto;
  text-align: justify;
  text-indent: 20px;
 font-size: 13px;
}
div.imagen-Tecno{
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
}
div.imagen-Tecno img{
  width: 180px;
}
div.imagen-Tecno p{
   text-align: justify;
   margin-right: 10px;
   margin-left: 5px;
   font-size: 13px;
}
header#fundo-menu{
  background-image: url(../pc_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 350px;
  margin-top: -10px;
  font-family: 'Roboto', sans-serif;
  
 }
 div.fundo-cabeçalho{
 background-color: rgba(0, 0, 255, 0.533);
 height: 120px;
 box-shadow: 0px 0px 4px black;
 border-radius: 10px 10px 0px 0px;
 }
 div.fundo-cabeçalho h1{
   color: #f8f9fa;
   margin: 10px;
   padding: 2px;
   font-family: 'Roboto', sans-serif;
 }
 nav.meno-suporte{
  display: block;
  box-sizing: border-box;
  font-size: 10px;
}
nav.meno-suporte ul{
  list-style: none;
  text-transform: uppercase;
  position: relative;
  top: 40px;
  left: 20px;
}
nav.meno-suporte li{
   display: inline-block;
   color: red;
   margin: 5px;
   font-weight: 900;
   font-family: Verdana, sans-serif;
   transition: transform all 0.2s ease;
}
 nav.meno-suporte ul li:hover{
  color: yellow;
  transform: scale(1.5);

 
}

 nav.menu-ferramenta{
   display: block;
   color: #f8f9fa;
   height: 50px;
 }
 nav.menu-ferramenta ul{
   list-style: none;
   text-transform: uppercase;
   position: absolute;
   top: 500px;


 }
 nav.menu-ferramenta li{
   display: inline-block;
   color: #f8f9fa;
   padding: 5px;
   margin: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}
nav.menu-ferramenta ul li{
  background-color:  #0dcaf0;
  transition: all 0.2s;
 
}
nav.menu-ferramenta ul li:hover{
   background-color: blue;
   color:white;
}
/* configuração para o minha tabela */
 div.todas-tabelas{
   display: flex;
   align-items: center;
   justify-content: center;
 }
table{
  display: block;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 5px black;
  border-collapse: collapse;
  max-height: 400px;
  overflow-x: hidden;
}
.titulo-tabela{
  display: block;
  padding: 10px;
  background-color: blue;
}
.titulo-tabela .titulo-preço{
  display: block;
   text-align: center;
   font-size: 1.3em;
   letter-spacing: 1.4px;
   color: #f8f9fa;
}

table tbody tr:nth-child(even){
  background-color: #adb5bd;
}
table thead{
  background-color: blue;
  color: #f8f9fa;
  font-family: 'Robote', sans-serif;
  font-size: 15px;
  font-weight: 800;
}
table thead tr th{
  text-align: left;
  color: #f8f9fa;

}
table th, table td{
padding: 15px;
border: 1px solid #0dcaf0;
text-align: center;
font-family: 'Robote',sans-serif;
font-weight: 600;
max-height: 150px;
}


 